@font-face {
    font-family: Cyberverse;
    src: url(/font/cyberverse/Cyberverse\ Condensed\ Bold.otf);
}
*{
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background-image: linear-gradient(to right, black, white, black);
    display: flex;
    min-height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
#digitalClock {
    background-color: black;
    display: flex;
    
    justify-content: center;
    width: 400px;
    height: 150px;
}
.clock-face{
    color: rgb(88, 152, 236);
    font-family: Cyberverse;
    font-size: 5rem;
    font-weight: lighter;
    margin: auto 5px;
}
